.idea/
*.exe
*.o
*.cbp
*.depend
*.layout
s1/procedural-programming/main.c

**/cmake-build-*/
bin/
lib/
obj/
s1/procedural-programming/o*.dat
.vscode/
.ionide/
*.user
.ipynb_checkpoints/
out/
*.synctex.gz
*.log
*.dia~
.vs/
